@import url('https://fonts.googleapis.com/css2?family=Quickand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: gold;
  margin-top: 10px;
}
.nav-icon{
  padding: 0px;
  margin: 0px;
  color:gold;
  font-size: 1.5rem;
  transition: 0.3s;
  cursor:pointer;
}
.nav-icon:hover{
    font-size: 1.6rem;
    color:white;
}